h1 {
  font-family: "Ink Free";
}

body {
  font-family: papyrus;
  color: pink; 
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-style: wavy;
  background-color: coral;

}
